* {
  margin-bottom: 15px;
}

body {
  box-sizing: border-box;
  background-color: var(--secondary--color);
  color: var(--default--color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 2;
  text-align: center;
  padding: 0 50px;
}

:root {
  --primary--color: #222831;
  --secondary--color: #393E46;
  --link--color: #C63D2F;
  --default--color: #EEEEEE;
}

h1 {
  font-size: 45px;
  margin-left: 10px;

}

hr {
  height: 2px;
  background-color: var(--primary--color);
  border: 0;
  border-radius: 5px;
}

button {
  background-color: var(--primary--color);
  color: var(--default--color);
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.todo-app {
  border: 1px solid var(--default--color);
  border-radius: 5px;
  margin: 56px auto;
  padding: 24px;
}

.todo-app form input {
  width: 100%;
  border-radius: 5px;
  height: 50px;

}

.todo-app form button {
  width: 100%;
  font-size: 24px;
  background-color: var(--link--color);
  height: 40px;
  margin-bottom: 40px;
}

.todo-app form button:hover {
  background-color: var(--primary--color);
  color: var(--link--color);
  border-color: var(--link--color);
}


.todo-app ul {
  text-align: left;
}

.todo-app ul button {
  margin-left: 5px;
  font-size: 12px;
  padding: 5px;
  background-color: var(--secondary--color);
}

.todo-app ul button:hover {
  background-color: var(--link--color);
}

.todo-app ul input[type="checkbox"]:checked {
  accent-color: var(--link--color);
}


